# Dependencies
node_modules/
*/node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for uploaded files
backend/uploads/*
!backend/uploads/.gitkeep

# Build files
dist/
build/

# OS files
.DS_Store
Thumbs.db
